@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

//sass 

$main-background: #1C1419;
$secondary-background: #d11d65;
$pink-lightest: #E8A2CE;
$pink-darkest: #4f3746;
$pink-medium:#825b73;
$font-color:#ffff;
$secondary-font-color:#d11d65;
$font-family: 'Play';
$normal-font-size: 16px;
$small-font-size: 12px;
$medium-font-size: 25px;
$large-font-size: 32px;
$small-margin: 10px;
$medium-margin:20px;
$large-margin:30px;
$extra-large-margin: 40px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: $main-background;
    color: #ffff;
    font-family: $font-family;
    scroll-behavior: smooth;
    perspective: 1000px;
}

//arrow to top

.bxs-chevrons-up{
    position: sticky;
    bottom:0;
  }

//header

#header {
    position: sticky;
    top: 0;
    background-color: $main-background;
    z-index: 12112;
}

.menu{
    display: flex;
    z-index: 1;
}

//up arrow

.bx-up-arrow-alt{
    position: sticky;
    top: 80vh;
    background-color: $main-background;
    z-index: 12112;
    left: 90%;
    font-size: $large-font-size;
    padding: 8px;
    border-radius: 3px;
    opacity: 0.6;
    transition: 0.5s;
    border: 0.1px solid #ffff;
}



.bx-up-arrow-alt:hover{
    opacity: 1;
    background-color: $secondary-background;
}

.bx-menu-alt-left{
    display: none;
}


.active{
    color: #825b73;
    transition: 0.5s;
}

.active::after{
    content: '';
    width: 100%;
    position: relative;
    display: block;
    height: 2px;
    background-color: #E8A2CE;
    transition: 0.5s;
    
}

#preactive{
    color: #825b73;
    transition: 0.5s;
}

#preactive::after{
    content: '';
    width: 100%;
    position: relative;
    display: block;
    height: 2px;
    background-color: #E8A2CE;
    transition: 0.5s;
    
}


.leftHead{
    width:20%;
    float: left;
    align-self: center;
    position: relative;
}

.leftHead img{
    width: 100%;
    border-radius: 5px;
}

.centerHead{
    width: 60%;
    margin-left: 5%;
    align-self:center;
    position: relative;
    transition: 0.5s;
}

.centerHead ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.centerHead ul li {
    margin-right: 7%;
    transition: 0.5s;
    transition: 0.5s;
}

.centerHead ul li:hover{
    transform: scale(1.2);
}

.centerHead ul li a{
    text-decoration: none;
    color: $font-color;
    font-size: $medium-font-size;
    transition: 1s;
    transition: 0.5s;
}

.rightHead{
    width: auto;
    align-self: center;
    cursor: pointer;
    position: relative;
    margin-left: auto;
}


.rightHead i{
    font-size: $large-font-size;
    color: $secondary-background;
}

.rightHead i:nth-child(1){
    position: relative;
    left: 20px;
}

.rightHead i:nth-child(3){
    position: relative;
    right: 20px;
}

//HiddenLeftScreen

#hiddenScreen{
    position:absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(209,29,101, 0.6);
    z-index: 121211231322;
    left: 0;
    top: 0;
    opacity: 1;
    border-bottom: 1px solid $pink-lightest;
    display: none;
}

.hiddenLeftSide{
    position: absolute;
    right: 0;
    padding: 1%;
    height: 100vh;
    padding-top: 5%;
    background-color: $main-background;
    border: 1px solid $pink-lightest;
    width: 35%;
}

.hiddenLeftSide h4{
    margin-top: $medium-margin;
}

.hiddenLeftSide img{
    width: 100%;
}

.logo{
    display: none;
  }




.bx-x{
    position:absolute;
    top:2%;
    right: 2%;
    cursor: pointer;
    font-size: $large-font-size;
    border: 1px solid $secondary-background;
    opacity: 1;
    z-index: 121;
    border-radius: 10%;
}

.bx-x:hover{
    background-color: $secondary-background;
}

.logoLinks ul{
    list-style: none;
    display: flex;
    padding-top: 5%;
}

.logoLinks ul li{
    transition: 0.5s;
    padding-right: 5%;
}

.logoLinks ul li a{
    color: $secondary-background;
    font-size: $large-font-size;
    border: 1px solid $secondary-background;
    padding: 10px;
    border-radius: 15%;
    text-align: center;
    display: flex;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    transition: 0.5s;
}

.logoLinks ul li a:hover{
    color: #ffff;
    transform: translateY(-5px);
    background-color: $secondary-background;
}

//home 

#home{
    width: 100%;
    height: 90vh;
    background-color: aqua;
    background:url("https://vasliddin-web-full.netlify.app/img/men.jpg");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.slide1, .slide2{
    margin-top: auto;
    height: 90vh;
    background-size: cover;
}

.slide1{
    display: none;
}


.one, .two{
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid $secondary-background;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.one:hover{
    background-color: $secondary-background;
}

.two:hover{
    background-color: $secondary-background;
}


.one{
    margin-right: 35px;
}




.slidesText{
    position: relative;
    text-align:right;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5%;
    font-weight: 700;
}


.slidesText span{
    color: $secondary-background;
    font-weight: 700;
}

.slidesText p{
    border-right: 2px solid $secondary-background;
    padding-right: 10px;
    margin-bottom: $large-margin;
}

#explore1, #explore2{
    position: relative;
    cursor: pointer;
    border: 1px solid $secondary-background;
    border-radius: 5px;
    text-decoration: none;
    color: #ffff;
    padding: 10px;
    background-color: $secondary-background;
    transition: 0.5s;
}

#explore1  i{
    color: red;
    background-color: red;
}





#explore1:hover, #explore2:hover{
    background-color: #ffff;
    color: $secondary-background;
}

#explore1:hover::after, #explore2:hover::after{
    color: #ffff;
    background-color: $secondary-background;
} 

//second page (CV)

#about {
    margin-top: $extra-large-margin;
    width: 100%;
    height: 100vh;
    position: relative;
}

#about::after{
    content: '';
    width: 40%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/dots.png);
    background-size: cover;
    z-index: -1;
    opacity: 0.1;
}

.about{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.about img{
    width: auto;
    height: 70vh;
    box-shadow: 10px 10px 5px $secondary-background;
    border-radius: 5px;
}



.leftHandText{
    width: 100%;
    margin-right: $extra-large-margin;
    font-weight: 700;
}

.leftHandText span{
    color: $secondary-background;
    font-weight: 700;
}

.leftHandText h1{
    margin-bottom: $medium-margin;
}

.download{
    display: inline-block;
    margin-top: $medium-margin;
}

.download{
    position: relative;
    cursor: pointer;
    border: 1px solid $secondary-background;
    border-radius: 5px;
    text-decoration: none;
    color: #ffff;
    padding: 10px;
    background-color: $secondary-background;
    transition: 0.5s;
    font-family: $font-family
}

.download a{
    text-decoration: none;
    color: #ffff;
}

.download:hover{
    background-color: #ffff;
    color: $secondary-background;
}

.download:hover a{
    color: $secondary-background;
}

.download i{
    font-family: $font-family;
}

//portfolio section

#portfolio{
    width: 100%;
    height: 100vh;
    margin-top: $extra-large-margin;
    background-color: $main-background;
    position: relative;
}

.portfolioHead{
    display: flex;
    align-items: center;
    height: 20vh;
}



.porLeft p{
    color: $secondary-background;
}

.porLeft span{
    color: $secondary-background;
}

.porCenter p{
    padding-left: 5%;
    border-left: 2px solid $secondary-background;
    margin: 5%;
}

.porRight{
    margin-left: auto;
}

.porRight i{
    position: relative;
    cursor: pointer;
    border: 1px solid $secondary-background;
    border-radius: 5px;
    text-decoration: none;
    color: #ffff;
    padding: 10px;
    background-color: $secondary-background;
    transition: 0.5s;
    font-size: $medium-font-size;
}

.porRight i:hover{
    background-color: #ffff;
    color: $secondary-background;
}

.portfolioMain{
    height: 80vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:space-between;
}

.card{
    width: 23%;
    height: 60vh;
    background-color: $pink-darkest;
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    z-index: 2;
}

.cover{    
    height: 0%;
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: $secondary-background;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.coverMain{
    z-index: 12;
    text-align: center;
    margin: 0 10px;
}

.coverMain a{
    position: relative;
    cursor: pointer;
    border: 1px solid #ffff;
    border-radius: 5px;
    text-decoration: none;
    color: #ffff;
    padding: 10px;
    background-color: $secondary-background;
    transition: 0.5s;
    margin: 20px 40px;
}

.coverMain a:hover{
    color:$secondary-background;
    background-color: #ffff;
    transition: 0.5s;
}
.round1{
    width: 0px;
    height: 0px;
    background-color:#802c4d;
    position: absolute;
    top: -25%;
    left: -30%;
    z-index: 1;
    display: block;
    border-radius: 50%;
    outline: 60px solid #921648;
    border: 60px solid #7e2046;
}





.card h3{
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(to bottom, $secondary-background, 70%,  rgba(255, 255, 255, 0.01));
    width: 100%;
    z-index: 1212;
}



.card:first-child{
    background: url('../images/pizza.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.card:nth-child(2){
    background: url('../images/tech.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.card:nth-child(3){
    background: url('../images/todo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.card:nth-child(4){
    background: url('../images/card.png');
    background-size: cover;
    background-repeat: no-repeat;
}


//experience

#experience{
    margin-top: $extra-large-margin;
    width: 100%;
    height: 90vh;
    margin-top: $extra-large-margin;
    background-color: $main-background;
    position: relative;
    z-index: 1212;
}
#experience::after{
    content: '';
    width: 40%;
    height: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../images/dots.png);
    background-size: cover;
    z-index: -1;
    opacity: 0.1;
}


.exHead{
    display: flex;
    align-items: center;
    height: 20vh;
}

.exLeft{
    width: 50%;
    position: relative;
}




.exLeft p{
    color: $secondary-background;
}

.exLeft span{
    color: $secondary-background;
}

.exCenter p{
    padding-left: 5%;
    border-left: 2px solid $secondary-background;
    margin: 5%;
}


.portfolioMain{
    height: 80vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:space-between;
}

.experience{
    display: flex;
    justify-content:space-between;
}

.box{
    width: 23%;
    background-color: #4f3746;
    padding: 1%;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.boxMain{
    z-index: 12122;
    display: block;
    position: relative;
}



.round2{
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    background-color: #634b5b;
    border-radius: 50%;
    border: 60px solid #352931;
    outline: 60px solid #291e25;
    bottom: -30%;
    right: -30%;
    z-index: 121;
}

//skills

#skills{
    margin-top: $extra-large-margin;
    width: 100%;
    height: 60vh;
    margin-top: $extra-large-margin;
    background-color: $main-background;
    position: relative;
    opacity: 0.9;

}


.skillHead{
    display: flex;
    align-items: center;
    height: 20vh;
}

.skillLeft{
    width: 50%;
}



.skillLeft p{
    color: $secondary-background;
}

.skillLeft span{
    color: $secondary-background;
}

.skillCenter p{
    padding-left: 5%;
    border-left: 2px solid $secondary-background;
    margin: 5%;
}


.skillMain{
    height: 45vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
}

.skillBox{
    text-align: center;
    background-color: $secondary-background;
    padding: 5%;
    border-radius: 10px;
    position: relative;
    row-gap: 30px;
    width: 90%;
    transition: 0.5s;
    height: 18rem;
}


.skillBox img{
    width: 10rem;
    height: 10rem;
    transition: 0.8s;
}

.skillsMain2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillBox h3{
    margin: 10px 0;
}

.progress-bar-animated{
    background-color:$main-background;
}

.skillBox:hover{
    transform: scale(1.05);
}

.skillBox:hover img{
    transform: rotateY(30deg);
}

//Contact 

#contact{
    height: 100vh;
    margin-top: $extra-large-margin;
    position: relative;
    padding: 100px;
}

#myForm{
    width: 85%;
    position: relative;
    margin: auto;
    margin-top: auto;
}

label{
    margin-bottom:5px;
}

.send{
    margin-top: $small-margin;
    position: relative;
    cursor: pointer;
    border: 1px solid $secondary-background;
    border-radius: 5px;
    text-decoration: none;
    color: #ffff;
    padding: 5px 20px;
    background-color: $secondary-background;
    transition: 0.5s;
}


//footer


#footer{
    margin-top: $extra-large-margin;
    width: 100%;
    height: 20vh;
}

.address{
    width: 50%;
}

.links{
    width: 50%;
}

#footer .raw{
    display: flex;
}

.address p {
    display: flex;
    align-items: center;
}

.links ul{
    list-style: none;
    display: flex;
    padding-top: 1%;
}

.links ul li{
    transition: 0.5s;
    padding-right: 5%;
}

.links ul li a{
    color: $secondary-background;
    font-size: $medium-font-size;
    border: 1px solid $secondary-background;
    padding: 10px;
    border-radius: 15%;
    text-align: center;
    display: flex;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    transition: 0.5s;
}

.links ul li a:hover{
    color: #ffff;
    transform: translateY(-5px);
    background-color: $secondary-background;
}


//MOBILE VERSION

@media only screen and (max-width: 600px) {
    //HEADER

    .menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: $main-background;
        opacity: 0.9;
        width: 80%;
        display: none;
    }

    .bx-menu-alt-left{
        position: absolute;
        top: 0;
        left: 0;
    }

   

    .bx-menu-alt-left{
        font-size: $large-font-size;
        transition: 0.5s;
        display: block;
    }

    .bx-x{
        transition: 0.5s;
    }

    .menuX{
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 10%;
    }

    .leftHead{
        width: 100%;
        padding-top: 20%;
    }

    .centerHead{
        width: 100%;
        padding-top: 50%;
        position: relative;
    }


    .centerHead ul{
        display: block;
        margin-bottom: 5%;
        width: 100%;
        text-align: left;
       
    }

    //HIDDEN SCREEN
    #hiddenScreen{
        width: 80%;
        position: absolute;
        top: 0;
        right: 0;
        margin-left: auto;
    }
    
    .rightHead{
        position: absolute;
        top: 5px;
        left: 70%;
        width: 100%;
        cursor: pointer;
    }

    .rightHead i{
        animation-name: yon;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    @keyframes yon {
        0%{
            color: $secondary-background;
        }
        50%{
            color: #ffff;
        }

        100%{
            color: $secondary-background;
        }

    }
    

    .hiddenLeftSide{
        width: 100%;
    }

    .hiddenLeftSide img{
        padding-top: 20%;
    }

    .logoLinks{
        position: relative;
        margin: 0;
        padding: 0;
    }


    .logoLinks ul i{
        font-size: $medium-font-size;
    }

    .logoLinks ul li{
        margin-right: 0px;
    }

    #logo{
        display:none;
    }


    //Home
    #home{
        background-position: -250px;
        filter: blur(110);
        height: 100vh;
    }
    

    .mySlides{
        text-align: center;
        background-color:rgba(28,20,25, 0.8);
        height: 100vh;
    }

    .slidesText{
        text-align: center;
    }


    .slidesText h1{
        font-size: $extra-large-margin;
    }


    .number{
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid $secondary-background;
        width: 30px;
        height: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 5%;
        left: 50%;
    }

    //about section

    #about{
        width: 100%;
        position: relative;
        height: auto;
    }

    .about{
        height: auto;
        display: block;
        align-items: center;
        flex-direction: row-reverse;
        text-align: center;
        margin-bottom: $extra-large-margin;
    }
    
    .about img{
        width: 100%;
        height: auto;
        box-shadow: 10px 10px 5px $secondary-background;
        border-radius: 5px;
        margin-bottom: $medium-margin;
    }
    
    
    
    .leftHandText{
        width: 100%;
        margin-right: 0;
        font-weight: 700;
    }
    
    
    .leftHandText h1{
        margin-bottom: $small-margin;
    }
    
    .download{
        display: inline-block;
        margin-top: $small-margin;
        position: relative;
    }

    //portofolio
    
    #portfolio{
        width: 100%;
        height: auto;
        margin-top: $extra-large-margin;
        background-color: $main-background;
        position: relative;
    }

    #portfolio::after{
        content: '';
        position:absolute;
        width:  100%;
        height: 50%;
        top: 0;
        left: 0;
        background: url(../images/dots.png);
        z-index: 1;
        display: block;
        opacity: 0.1;
    }
    
    #portfolio{
        margin-top: $extra-large-margin;
        padding-top: $extra-large-margin;
    }
    .portfolioHead{
        display: flex;
        align-items: center;
        height: auto;
        position: relative;
    }



    
    .portfolioMain{
        height: auto;
        display: block;
        margin-top: $extra-large-margin;
    }
    
    .card{
        width: 85%;
        height: 70vh;
        background-color: $pink-darkest;
        position: relative;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        overflow: hidden;
        z-index: 2;
        margin-bottom:$medium-margin;
        margin-left: auto;
        margin-right: auto;
    }
    
    .round1{
        width: 0px;
        height: 0px;
        background-color:#802c4d;
        position: absolute;
        top: -10%;
        left: -10%;
        z-index: 1;
        display: block;
        border-radius: 50%;
        outline: 60px solid #921648;
        border: 60px solid #7e2046;
    }

    //experience

    #experience{
        margin-top: $extra-large-margin;
        width: 100%;
        height: auto;
        margin-top: $extra-large-margin;
        background-color: $main-background;
        position: relative;
        z-index: 1212;
    }
    
    
   
    
    .experience{
        display: block;
        position: relative;
        text-align: center;
        margin-top: $medium-margin;
    }
    
    .box{
        width: 85%;
        background-color: #4f3746;
        padding: 1%;
        position: relative;
        height:auto;
        overflow: hidden;
        transition: 0.5s;
        margin-bottom: $medium-margin;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    

    //skills
    
    #skills{
        margin-top: $extra-large-margin;
        width: 100%;
        height: auto;
        opacity: 1;
    }
    
    
    .skillHead{
        display: flex;
        align-items: center;
        height: auto;
    }
    
    
    
    .skillMain{
        height:auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        margin-top: $extra-large-margin;
    }
    
    .skillBox{
        text-align: center;
        background-color: $secondary-background;
        padding: 5%;
        border-radius: 10px;
        position: relative;
        row-gap: 30px;
        width: 85%;
        transition: 0.5s;
        height: 20rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $medium-margin;
    }
    
    
    .skillBox img{
        width: 12rem;
        height: 12rem;
        transition: 0.8s;
    }
    
    .skillsMain2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .skillBox:hover img{
        transform: rotateY(40deg);
    }

    //CONTACT

    #contact{
        height: 100vh;
        margin-top: $extra-large-margin;
        position: relative;
        padding: 100px;
        padding: 0;
        margin: 0;
        margin-top: $extra-large-margin;
    }
    
    #myForm{
        width: 85%;
        position: relative;
        margin: auto;
        margin-top: $extra-large-margin;

    }
    
    label{
        margin-bottom:5px;
    }
    
    .send{
        margin-top: $small-margin;
        position: relative;
        cursor: pointer;
        border: 1px solid $secondary-background;
        border-radius: 5px;
        text-decoration: none;
        color: #ffff;
        padding: 5px 20px;
        background-color: $secondary-background;
        transition: 0.5s;
    }

    //

    #footer{
        margin-top: $extra-large-margin;
        width: 100%;
        height: auto;
    }
    
    .address{
        width: 100%;
    }

    .address i{
        margin-right: $small-margin;
        background-color: #634b5b;
        padding: 3px;
        border-radius: 50%;
    }
    
    .links{
        width: 100%;
    }
    
    #footer .raw{
        display: block;
    }




    
}























